In [11]:
people = {
    'first': ['Corey', 'Jane', 'John', 'Adam'],
    'last': ['Schafer', 'Doe', 'Doe', 'Doe'],
    'email': ['CoreyMSchafer@email.com', 'JaneDoe@email.com', 'JohnDoe@email.com', 'AdamDoe@email.com']
}

In [12]:
import pandas as pd

In [13]:
# create a Dataframe df of people
df = pd.DataFrame(people)

In [14]:
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@email.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com
3   Adam      Doe        AdamDoe@email.com

In [15]:
# sort by using .sort_values() method
# sort by last in descending order
df.sort_values(by='last', ascending=False)

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@email.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com
3   Adam      Doe        AdamDoe@email.com

In [16]:
# sort by last and then first by  in descending order
df.sort_values(by=['last', 'first'], ascending=False)

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@email.com
2   John      Doe        JohnDoe@email.com
1   Jane      Doe        JaneDoe@email.com
3   Adam      Doe        AdamDoe@email.com

In [17]:
# sort some in ascending and some in descending
df.sort_values(by=['last', 'first'], ascending=[False, True], inplace=True)

In [18]:
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@email.com
3   Adam      Doe        AdamDoe@email.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [19]:
# sort by using .sort_index() method
df.sort_index()

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@email.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com
3   Adam      Doe        AdamDoe@email.com

In [20]:
# sort specific column(Series)
# to see the sorted 'last' column(Series) is ascending order
df['last'].sort_values()

3        Doe
1        Doe
2        Doe
0    Schafer
Name: last, dtype: object